@font-face {
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-style: normal;
    src: 
        local('Nunito Sans'),
        url('../../shared/assets/fonts/NunitoSans/NunitoSans-Bold.woff2') format('woff2'),
        url('../../shared/assets/fonts/NunitoSans/NunitoSans-Bold.woff') format('woff')
}