@import 'reset';
@import 'variables/global';
@import 'fonts';
@import 'themes/dark';
@import 'themes/light';

.app {
    min-height: 100vh;
    padding: 0 30px;

    font: var(--font);
    color: var(--text-color);

    background: var(--background-color);

    header {
        height: 50px;
    }
}

.content {
    display: flex;

    &__outlet {
        flex-grow: 1;
        padding: 20px;
    }
}
