@import 'reset';
@import 'variables/global';
@import 'fonts';
@import 'themes/dark';
@import 'themes/light';

html:has(dialog[open]) {
    overflow: hidden;
}

.app {
    position: relative;

    min-height: 100vh;

    font: var(--font);
    color: var(--text-color);

    background: var(--background-color);
}