:root {
    --font-family: 'Nunito Sans', 'Roboto';
    --font-size: 16px;
    --font-line: 24px;
    --font-weight: 400;
    --font: var(--font-weight) var(--font-size) / var(--font-line) var(--font-family);
    --navbar-height: 50px;
    --sidebar-width: 220px;
    --sidebar-width-collapsed: 50px;

    // ErrorBoudary variables

    //  for Loader
    --border-color: #5ed3f3; 
    
    //  for Button
    --error-text-color: #141c1f;
    --error-border-color: #5ed3f3;    
}