:root {
    --font-family: 'Nunito Sans', 'Roboto';
    --font-size: 16px;
    --font-line: 24px;
    --font-weight: 400;
    --font: var(--font-weight) var(--font-size) / var(--font-line) var(--font-family);
    --header-height: 50px;
    --sidebar-width: 220px;
    --sidebar-width-collapsed: 50px;

    // PageError and NotFoundPage variables

    --main-color: #5ed3f3; 
    --text-color: #141c1f; 
}