.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    margin-bottom: 20px;

    .userInfo {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 15px;

        .userInfoLink {
            display: flex;
            gap: 10px;
            align-items: center;
            color: var(--text-color);

            .userName {
                font-weight: 700;
            }
        }

        .creationDate {
            font-weight: 400;
        }
    }

    .articleTitles {
        margin-bottom: 25px;
        font-family: Roboto, sans-serif;

        .title {
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 900;
        }

        .subtitle {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .articleContent {
        display: flex;
        flex-direction: column;

        & > :last-child {
            margin-bottom: 0;
        }
    }
}
