.listItem {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;

    width: 100%;

    .userInfo {
        display: flex;
        gap: 10px;
        align-items: center;

        .userInfoLink {
            display: flex;
            gap: 10px;
            align-items: center;
            color: var(--text-color);

            .userName {
                font-weight: 700;
            }
        }

        .creationDate {
            font-weight: 400;
        }
    }

    .articleTitles {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        font-family: Roboto, sans-serif;

        .title {
            font-size: 32px;
            font-weight: 900;
        }

        .subtitle {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .articleContent {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}
