.articleDetailsEdit {
    position: sticky;
    top: 32px;
    
    display: flex;
    grid-area: articleDetailsEdit;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding: 24px;

    background-color: var(--widget-bg-color-secondary);
    border-radius: 32px;

    @media screen and (width <= 1370px) {
        position: static;
        align-items: center;
    }
}