.articleComment {
    position: relative;

    display: flex;
    column-gap: 15px;
    align-items: flex-start;

    margin-bottom: 15px;

    .articleCommentText {
        font-weight: 400;
    }

    svg {
        position: absolute;
        top: 0;
        right: -10px;
    }
}