.articleContent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .articleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
}

.articleListBig,
.articleListSmall,
.articlesLoadError,
.articlesEmpty{
    display: grid;
    grid-gap: 15px;
}

.articleListBig,
.articlesLoadError,
.articlesEmpty {
    grid-template-columns: 780px;
    justify-items: center;
}

.articleListSmall {
    grid-template-columns: repeat(3, 250px);
    justify-items: center;
}

.articlesLoadError,
.articlesEmpty {
    align-items: center;
    justify-items: center;
    height: 100%;
}