.listBox {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 32px;

    .label {
        cursor: pointer;
        margin-right: 5px;
        white-space: nowrap;
    }

    .content {
        position: relative;
        width: 100%;

        .options {
            position: absolute;
            z-index: 2;
            top: 110%;

            width: 100%;

            background-color: var(--widget-bg-color);
            border-radius: 10px;

            &[data-headlessui-state='open'] {
                animation: show 100ms linear forwards;
            }

            .option {
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                padding: 5px 0;

                &.active {
                    background-color: var(--main-color);
                }

                &.selected {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-items: center;
                    font-weight: 700;
                }

                &[data-headlessui-state='disabled'] {
                    cursor: auto;
                    user-select: none;
                    opacity: 0.3;
                }

                .doneIcon {
                    width: 20px;
                    height: 100%;
                    fill: var(--text-color);
                }

                span {
                    white-space: nowrap;
                }
            }
        }
    }

    &.currency,
    &.country {
        margin-bottom: 15px;

        .content {
            width: 50%;
        }
    }

    &.articleSort {
        margin-bottom: 5px;
    }
}

@keyframes show{
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

