.listBox {
    position: relative;

    display: flex;
    align-items: center;

    height: 2.375em;

    border-radius: 32px;

    .content {
        position: relative;

        .options {
            position: absolute;
            z-index: 2;
            top: 40px;

            width: 100%;

            background-color: var(--widget-bg-color);
            border-radius: 10px;

            &[data-headlessui-state='open'] {
                animation: show 100ms linear forwards;
            }

            .option {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &.active {
                    background-color: var(--main-color);
                }

                &.selected {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    justify-items: center;
                    font-weight: 700;
                }

                &[data-headlessui-state='disabled'] {
                    cursor: auto;
                    user-select: none;
                    opacity: 0.3;
                }

                .doneIcon {
                    width: 20px;
                    height: 100%;
                    fill: var(--text-color);
                }
            }
        }
    }
}

.label {
    cursor: pointer;
    margin-right: 5px;
    white-space: nowrap;
}

.icon {
    transform: rotate(-90deg);
    margin-left: 15px;
    fill: var(--hint-color);
}

@keyframes show{
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.currency {
    grid-area: currency;
}

.country {
    grid-area: country
}