.profileHeader {
    display: grid;
    grid-template-areas:
    'left profileAvatar right';
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;

    border-radius: 10px;

    @media screen and (width <= 1100px) {
        grid-template-areas:
            'profileAvatar'
            'right'
            'left';
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

.notEditable {
    grid-template-columns: 1fr;
}

.left {
    grid-area: left;
    justify-self: start;

    @media screen and (width <= 1100px) {
        justify-self: center;
    }
}

.right {
    grid-area: right;
    justify-self: end;

    @media screen and (width <= 1100px) {
        justify-self: center;
    }
}
