.profileHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
}

.notEditable {
    grid-template-columns: 1fr;
}

.left {
    justify-self: start;
}

.right {
    justify-self: end;
}