.button {
    padding: 0;

    color: var(--text-color);

    background: none;
    border: none;
    outline: none;
}

.lang {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--button-color);
}
