.button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    font-family: var(--font-family);
    color: var(--text-color);

    background: none;
    border: none;
}

.lang {
    width: 32px;
    height: 32px;

    font-size: 22px;
    font-weight: 700;
    color: var(--icon-color);
    text-transform: uppercase;
}

.reload {
    padding: 8px 16px;
    color: var(--error-text-color);
    border: 1px solid var(--error-border-color);
    border-radius: 16px;
}

.bordered {
    padding: 8px 16px;
    border: 1px solid var(--border-color);
    border-radius: 48px;
    transition: background-color .2s linear;

    &:hover {
        background-color: var(--icon-color)
    }
}
