.sideBar {
    position: relative;

    width: var(--sidebar-width);
    height: 100%;

    background-color: var(--widget-bg-color);
    border: 1px solid var(--widget-bg-color);
    border-radius: 32px;

    transition: width 0.2s linear;

    .toggleArrow {
        position: absolute;
        top: 50%;
        right: 10px;
    }

    .switchers {
        position: absolute;
        bottom: 20px;

        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;

        width: 100%;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .toggleArrow {
        right: 40%;
        transform: rotateY(180deg);
    }

    .switchers {
        flex-direction: column;
    }
}