.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;

    h1 {
        margin-bottom: 20px;
    }

    p:not(:last-child) {
        margin-bottom: 10px;
    }
}