.profileWrapper {
    display: flex;
    justify-content: center;

    min-width: 780px;
    padding: 20px;

    background-color: var(--widget-bg-color-darker);
    border: 1px solid var(--widget-bg-color-darker);
    border-radius: 32px;
}