.articleListBig,
.articleListSmall,
.articlesLoadError,
.articlesEmpty{
    display: grid;
    grid-gap: 15px;
}

.articleListBig,
.articlesLoadError,
.articlesEmpty {
    grid-template-columns: 780px;
}

.articleListSmall {
    grid-template-columns: repeat(3, 250px);
}

.articlesLoadError,
.articlesEmpty {
    align-items: center;
    justify-items: center;
    height: 100%;
}