.articleListBig {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 780px;
}

.articleListSmall {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}

.articlesLoadError {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    height: 100vh;
}