.itemsBottomLeft {
    top: 110%;
    right: 0;
}

.itemsBottomRight {
    top: 110%;
    left: 0;
}

.itemsTopRight {
    bottom: 110%;
    left: 0;
}

.itemsTopLeft {
    right: 0;
    bottom: 110%;
}