.listBox {
    position: relative;

    display: flex;
    align-items: center;

    height: 2.375em;

    border-radius: 32px;

    .content {
        position: relative;

        .options {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translate(-50%, 0);

            width: 100%;

            background-color: var(--widget-bg-color);
            border-radius: 10px;

            .option {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &.active {
                    background-color: var(--main-color);
                }

                &.selected {
                    display: grid;
                    grid-template-columns: 0.9fr 2fr;
                    font-weight: 700;
                }

                &[data-headlessui-state='disabled'] {
                    cursor: auto;
                    user-select: none;
                    opacity: 0.3;
                }

                .doneIcon {
                    width: 20px;
                    height: 100%;
                    fill: var(--text-color);
                }
            }
        }
    }
}

.label {
    cursor: pointer;
    margin-right: 5px;
    white-space: nowrap;
}

.icon {
    transform: rotate(-90deg);
    margin-left: 15px;
    fill: var(--hint-color);
}