.inputWrapper {
    position: relative;
    margin-bottom: 10px;

    &:nth-child(2) {
        margin-bottom: 15px;
    }

    .input {
        padding: 8px 16px;
    
        font-size: 16px;
        color: var(--text-color);
    
        background-color: var(--background-color);
        border: 1px solid var(--main-color);
        border-radius: 48px;
        caret-color: var(--main-color);

        &::placeholder {
            color: var(--hint-color);
        }
    
        &:focus {
            border-color: var(--accent-color);
            outline: none;
        }
    }

    .icon-right {
        cursor: pointer;

        position: absolute;
        z-index: 2;
        top: 2px;
        right: 10px;

        line-height: 0;

        svg {
            fill: var(--main-color)
        }
        
    }
}
