.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 32px;

    .label {
        cursor: pointer;
        white-space: nowrap;
    }

    .input {
        width: 100%;
        padding: 7px 16px;
    
        font:var(--font);
        color: var(--text-color);
    
        background-color: var(--background-color);
        border: 1px solid var(--main-color);
        border-radius: 48px;
        caret-color: var(--text-color);
    
        &::placeholder {
            color: var(--hint-color);
        }
        
        &:focus {
            border-color: var(--accent-color);
            outline: none;
        }
    
        &:disabled {
            color: var(--hint-color);
        }
    
        &.error {
            border-color: var(--error-color);
        }
    }
    
    .icon {
        cursor: pointer;
    
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translate(0, -50%);
    
        line-height: 0;
    
        svg {
            fill: var(--main-color)
        }
    }

    &.firstname,
    &.lastname,
    &.age,
    &.city,
    &.username,
    &.avatar
    {
        margin-bottom: 15px;

        .label {
            margin-right: 5px;
        }

        .input {
            background-color: transparent;
        }
    }

    &.login_username {
        margin-bottom: 10px;
    }

    &.login_password {
        margin-bottom: 15px;

        .icon {
            right: 10px;
        }
    }

    &.withError {
        margin-bottom: 0;
    }

    &.search {
        margin-bottom: 20px;
    
        .input {
            padding: 4px 16px 4px 30px;
            line-height: 1;
            background-color: transparent;
        }
    }
}

.validErrorBlock {
    display: block;

    font-size: 15px;
    line-height: 1;
    color: var(--error-color);
    text-align: center;
}


