.articleFiltersWrapper { 
    position: sticky; 
    top: 32px;

    display: flex;
    grid-area: filters;
    flex-direction: column; 
    row-gap: 20px;

    @media screen and (width <= 1370px) {
        position: static; 
    }
}