.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.profile_avatar {
    justify-self: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.article_avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.article_list_img {
    width: 100%;
    height: 420px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.article_list_small_img {
    width: 100%;
    height: 140px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.login_dropdown_avatar {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
