.articleCommentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    .articleCommentSection {
        font-family: Roboto, sans-serif;
        font-size: 32px;
        font-weight: 900;
    }

    .articleCommentWrapper {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

.articleCommentContainerError {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    font-weight: 900;
}