.app.dark {
    --background-color: #0c1214;
    --text-color: #dbdbdb;
    --main-color: #74A2B2;
    --widget-bg-color:#151c1f;
    --accent-color: #5ed3f3;
    --hint-color: #555;
    --error-color: #D95757;
}