.app.light {
    --bg-color: #e8e8ea;
    --bg-color-inverted: #0e0e75;
    --primary-color: #dbfc63;
    --secondary-color: #b8e004;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --border-color: #5ED3F3;
    --border-color-inverted: #74A2B2;
}