.page {
    display: flex;
    align-items: start;
    justify-content: center;

    width: 100%;
    height: 100%;

    &.articles {
        display: grid;
        grid-template-areas:
            'articlecontent filters'
            'articlecontent filters';
        grid-template-columns: 1fr minmax(min-content, 256px);
        column-gap: 20px;
        align-content: start;

        @media screen and (width <= 1370px) {
            grid-template-areas:
                'filters'
                'articlecontent';
            grid-template-columns: minmax(min-content, 1fr);
            row-gap: 20px;
            justify-content: center;
        }
    }

    &.notFound {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        min-height: 100vh;
    
        font-family: var(--font-family);
        color: var(--text-color);
        
        h1 {
            margin-bottom: 20px;
        }
    
        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &.articleDetails {
        display: grid;
        grid-template-areas:
        'articleDetailsContent articleDetailsEdit ';
        grid-template-columns: 1fr minmax(min-content, 256px);
        column-gap: 20px;
        align-content: start;

        @media screen and (width <= 1370px) {
            grid-template-areas:
                'articleDetailsEdit'
                'articleDetailsContent';
            grid-template-columns: minmax(min-content, 1fr);
            row-gap: 20px;
            justify-content: center;
        }
    }
}