.main {
    display: grid;
    grid-template-areas:
    'sidebar content rightbar';
    grid-template-columns: min-content min(100%, 1200px) min-content;
    column-gap: 32px;
    justify-content: center;
}

.sidebar {
    grid-area: sidebar;
    max-width: 284px;
    padding: 32px;
}

.content {
    grid-area: content;
    justify-self: center;
    width: 100%;
    padding: 32px;
}

.rightbar {
    position: relative;

    display: flex;
    grid-area: rightbar;
    flex-direction: column;

    padding: 32px;
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}