.main {
    display: grid;
    grid-template-areas:
    'sidebar content rightbar';
    grid-template-columns: min-content 1fr min-content;

    @media screen and (width >= 2000px) {
        grid-template-columns: min-content 1200px min-content;
        justify-content: center;
    }

    @media screen and (1000px <= width <= 1640px) {
        grid-template-areas:
        'sidebar content';
        grid-template-columns: min-content 1fr;
    }
}

.sidebar {
    grid-area: sidebar;
    max-width: 284px;
    padding: 32px;
}

.content {
    grid-area: content;
    justify-self: center;

    width: 100%;
    max-width: 1200px;
    padding: 32px;
}

.rightbar {
    position: relative;

    display: flex;
    grid-area: rightbar;
    flex-direction: column;

    padding: 0 32px;

    @media screen and (1000px <= width <= 1640px) {
        display: none;
    }
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}