.main {
    display: grid;
    grid-template-areas:
    'sidebar content rightbar';
    grid-template-columns: min-content minmax(min-content, 1200px) min-content;
    column-gap: 32px;
    justify-content: center;

    @media screen and (width <= 830px) {
        column-gap: 15px;
    }
}

.sidebar {
    grid-area: sidebar;
    max-width: 284px;
    padding: 32px;

    @media screen and (width <= 830px) {
        padding-right: 0;
    }

    @media screen and (width <= 480px) {
        padding-left: 10px;
    }
}

.content {
    grid-area: content;
    justify-self: center;
    width: 100%;
    padding: 32px;

    @media screen and (width <= 830px) {
        padding: 32px 0;
    }
}

.rightbar {
    position: relative;

    display: flex;
    grid-area: rightbar;
    flex-direction: column;

    padding: 32px;

    @media screen and (width <= 830px) {
        padding-left: 0;
    }

    @media screen and (width <= 480px) {
        padding-right: 10px;
    }
}

.rightbar,
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}