.profileCardLeft,
.profileCardRight {
    display: flex;
    flex-direction: column;
    width: 50%;

    div:not(:last-child) {
        margin-bottom: 15px;
    }
}

// .profileCardRight {
//     display: flex;
//     flex-direction: column;
//     width: 50%;

//     div:not(:last-child) {
//         margin-bottom: 15px;
//     }
// }