.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: var(--navbar-height);
    padding: 10px;

    background-color: var(--bg-color-inverted);

    .logo {
        font-size: 30px;
    }

    ul {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;

        padding: 10px;
    }
}
