.navBar {
    padding: 20px 0;

    // height: var(--navbar-height);

    background-color: var(--bg-color);

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        justify-content: center;

        width: 100%;

        .list {
            cursor: pointer;

            display: flex;
            gap: 0 5px;
            align-items: center;

            padding: 6px 16px;

            border-left: 2px solid transparent;

            .icon {
                display: flex;
                fill: var(--icon-color);
            }

            a {
                color: var(--text-color)
            }

            &.collapsed {
                gap: 0;
                align-items: center;
                justify-content: center;
                padding: 6px 0;
            }

            &.active {
                background: linear-gradient(88deg, rgb(94 211 243 / 30%) 0%, rgb(94 211 243 / 0%) 100%);
                border-left-color: var(--border-color);

                a {
                    color: var(--border-color)
                }
            }
        }
    }
}
