.navBar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    // height: var(--navbar-height);
    background-color: var(--bg-color-inverted);

    .logo {
        font-size: 30px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }
}
