.articleContent {
    display: flex;
    grid-area: articlecontent;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .articleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }
}

.articleListBig,
.articleListSmall,
.articlesLoadError,
.articlesEmpty{
    display: grid;
    grid-gap: 20px;
}

.articleListBig,
.articlesLoadError,
.articlesEmpty {
    grid-template-columns: minmax(min-content, 860px);
    justify-items: center;
}

.articleListSmall {
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    justify-items: center;
}

.articlesLoadError,
.articlesEmpty {
    align-items: center;
    justify-items: center;
    height: 100%;
}