.articleContent {
    display: grid;
    grid-area: articlecontent;
    row-gap: 15px;

    .articleButton {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.articleListBig,
.articleListSmall,
.articlesLoadError,
.articlesEmpty{
    display: grid;
    grid-gap: 20px;
}

.articleListBig,
.articlesLoadError,
.articlesEmpty {
    grid-template-columns: minmax(min-content, 1fr);
}

.articleListSmall {
    grid-template-columns: repeat(3, 1fr);

    @media screen and (width <= 1160px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <= 950px) {
        grid-template-columns: 1fr;
    }
}

.articlesLoadError,
.articlesEmpty {
    align-items: center;
    justify-items: center;
    height: 100%;
}