.articleDetailsContainer {
    display: flex;
    grid-area: articleDetailsContent;
    flex-direction: column;
    row-gap: 20px;

    padding: 24px;

    background-color: var(--widget-bg-color-secondary);
    border-radius: 32px;
}

.articleDetailsContainerError,
.articleDetailsContainerEmpty {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}