.profileEditCard {
    display: grid;
    grid-template-areas:
        "firstname username"
        "lastname avatar"
        "age currency"
        "city country";
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}