.articleFilters {
    position: sticky;
    top: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 264px;
    padding: 24px;

    background-color: var(--widget-bg-color-secondary);
    border-radius: 32px;
}