.articleBlockCode {
    position: relative;

    margin: 0;
    padding: 20px;

    // text-align: justify;
    word-wrap: break-word;
    white-space: pre-wrap;

    background-color: var(--widget-bg-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;

    .copySign {
        position: absolute;
        top: 30px;
        right:5px;

        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 700;
        color: var(--text-color);
    }

    @media all and (orientation:landscape) {
        // text-align: justify;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
}
