.articleBlockCode {
    position: relative;

    overflow: auto;
    display: flex;

    margin: 0;
    padding: 20px;

    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: pre;

    background-color: var(--widget-bg-color);
    border: 1px solid var(--main-color);
    border-radius: 10px;

    .copySign {
        position: absolute;
        top: 30px;
        right:5px;

        font-family: var(--font-family);
        font-size: 14px;
        font-weight: 700;
        color: var(--text-color);
    }

    code {
        width: 100%;
    }
}

