.listItemSmall {
    width: 250px;
    height: 361px;
    background-color: var(--widget-bg-color-secondary);
    border-radius: 32px;

    .articleTextBlockSmall {
        // height: 2em;
        margin-bottom: 10px;
        padding: 0 10px;
        border-radius: 10px;

        .text {
            font-weight: 400;
        }
    }

    .footerSmall {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 10px;
        padding: 0 10px;

        .creationDateSmall {
            font-weight: 400;
        }

        .viewsSmall {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;

            svg {
                fill: var(--main-color);
            }
    
            span {
                font-weight: 400;
            }
        }
    }

    .userInfoSmall {
        display: flex;
        gap: 10px;
        align-items: center;

        padding: 0 10px 10px;

        // height: 2em;
        border-radius: 10px;

        .userInfoLinkSmall {
            display: flex;
            gap: 10px;
            align-items: center;
            color: var(--text-color);

            .userNameSmall {
                font-weight: 700;
            }
        }
    }
}

.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    padding: 24px;

    background-color: var(--widget-bg-color-secondary);
    border-radius: 32px;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    .userInfo {
        display: flex;
        gap: 10px;
        align-items: center;

        height: 2em;
        margin-bottom: 15px;

        border-radius: 10px;

        .userInfoLink {
            display: flex;
            gap: 10px;
            align-items: center;
            color: var(--text-color);

            .userName {
                font-weight: 700;
            }
        }

        .creationDate {
            font-weight: 400;
        }
    }

    .articleTitles {
        height: 4.125em;
        margin-bottom: 25px;
        font-family: Roboto, sans-serif;
        border-radius: 10px;

        .title {
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 900;
        }

        .subtitle {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .articleContent {
        height: 2em;
        margin-bottom: 20px;
        border-radius: 10px;

        .text {
            font-weight: 400;
        }
    }

    .listItemFooter {
        display: flex;
        justify-content: space-between;
        height: 2.187em;
        border-radius: 10px;

        .views {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;

            svg {
                fill: var(--main-color);
            }

            span {
                font-weight: 400;
            }
        }
    }
}
