.listItem {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;

    width: 100%;
    padding: 24px;

    background-color: var(--widget-bg-color-secondary);
    border-radius: 32px;

    .userInfo {
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 10px;

        .userInfoLink {
            display: flex;
            gap: 10px;
            align-items: center;
            color: var(--text-color);

            .userName {
                font-weight: 700;
            }
        }

        .creationDate {
            font-weight: 400;
        }
    }

    .articleTitles {
        font-family: Roboto, sans-serif;
        border-radius: 10px;

        .title {
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 900;
        }

        .subtitle {
            font-size: 24px;
            font-weight: 400;
        }
    }

    .articleContent {
        border-radius: 10px;

        .text {
            font-weight: 400;
        }
    }

    .listItemFooter {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;

        .views {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;

            svg {
                fill: var(--main-color);
            }

            span {
                font-weight: 400;
            }
        }
    }
}
